.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family:  'Inter', 'Arial', sans-serif;
}

.logo {

}
  .logo_place_header {
    position: relative;
    top: 31px;
    left: 64px;
  }

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
}
  .header__title{
    font-weight: 600;
    font-size: 102px;
    line-height: 96px;
  }
    .header__title_place_header {
      height: 100%;
      display: flex;
      align-items: center;

      margin-left: 64px;

      max-width: 730px;
    }
  .header__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }
    .header__subtitle_place_header {
    position: absolute;

    bottom: 30px;
    left: 64px;

    max-width: 388px;
  }
  .header__link{
    color: #2F80ED;
    cursor: pointer;
  }
  .header__main-illustration {
    width: 765px;
    height: 608px;
  }
    .header__main-illustration_place_header {
    position: absolute;
    bottom: 0;
    right: 0;

    z-index: -1;
  }
  .header__square-pic{
    width: 568px;
    height: 568px;
    background: #2F80ED;
  }
    .header__square-pic_place_header {
    position: absolute;
    bottom: 68px;
    right: 0;

    z-index: -2;
  }

.content {

}
.content > div {
  padding-top: 100px;
}
.content > div:last-child {
  margin-bottom: 217px;
}

  .description {
    display: flex;
    justify-content: center;
  }
    .description__two-columns {

    }

    .two-columns {
      display: flex;
      width: 80%;
    }
      .two-columns__brief {
        flex: 0 0 175px;

        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: #2F80ED;
      }
      .two-columns__main-text {
        width: 80%;
        min-width: 784px;

        margin-left: 56px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        gap: 30px;
      }
      .two-columns__paragraph {
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
      }
      .two-columns__span-accent {
        font-weight: 600;
        font-size: 24px;
        line-height: 34px;
      }

  .techniques {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    margin: 0 auto;
  }

  /*.techniques > :is(h1, h2) {*/
  /*  padding: 0;*/
  /*  width: 60%;*/
  /*  text-align: center;*/
  /*}*/

    .section-title {
      font-weight: 600;
      font-size: 60px;
      line-height: 115%;
      margin: 0;
      padding: 0;
    }

    .techniques__section-title {
      margin: 0 0 20px;
    }

    .section-subtitle {
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      margin: 0;
      padding: 0;
    }

    .techniques__section-subtitle {
      margin: 0;
    }

    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 100px;
      row-gap: 60px;

      padding-top: 60px;
    }
      .cards__item {
        max-width: 240px;
        min-width: 160px;
        text-align: center;
      }
      .cards__image {
        width: 160px;
        height: 160px;
        border-radius: 100px;
        margin: auto auto 43px;
      }
      .cards__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 115%;
        margin: auto auto 16px;
      }
      .cards__description{
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
      }

    .techniques__cards {
      min-width: 920px;
    }


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
